<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yangshenglong.newstarwardrobe">
    //网络权限
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- banner权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".classify.ClassifyGridItemActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".fashion.secondpage.attention.DrActivity" />
        <activity android:name=".fashion.secondpage.recommend.BannerPageAty" />
        <activity android:name=".fashion.secondpage.recommend.GvPageAty" />
        <activity android:name=".classify.ClassifyGridItemActivity" />
        <activity android:name=".search.SearchActivity" />
        <activity android:name=".search.SearchInformationActivity" />
        <activity android:name=".fashion.secondpage.recommend.RvPageAty"></activity>
        <activity android:name=".fashion.secondpage.recommend.GvPageAty"></activity>
        <activity android:name=".classify.ClassifyGridItemActivity"/>
        <activity android:name=".search.SearchActivity"/>
        <activity android:name=".search.SearchInformationActivity"/>
        <activity android:name=".search.redmen.RedMenActivity"/>
        <activity android:name=".mine.login.LoginActivity"/>

    </application>

    //支付宝
    <span style="white-space:pre">  </span><activity
    android:name="com.alipay.sdk.app.H5PayActivity"
    android:configChanges="orientation|keyboardHidden|navigation"
    android:exported="false"
    android:screenOrientation="behind"/>
    <activity
        android:name="com.alipay.sdk.auth.AuthActivity"
        android:configChanges="orientation|keyboardHidden|navigation"
        android:exported="false"
        android:screenOrientation="behind"/>

</manifest>